CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
digivice
digivice.exe
digilib.so
digilib.dll
libdigilib.dll.a
libdigivice.dll.a
*.save*
include/digiworld.h
source/digiworld.c
import-digimon.csv
