name;slot/power;hour to wake up(in minutes);hour to sleep(in minutes);attribute;how much time (in minutes) to evolve;stage;Evolution Target;Progression;CM Count;TR Count;OF Count;SD Count;W Count;Evolution Target;Progression;CM Count;TR Count;OF Count;SD Count;W Count;
